
.idea
.env
/dbdata
/database
/minishop/node_modules
/minishop/public/hot
/minishop/public/storage
/minishop/storage/*.key
/minishop/vendor
/minishop/.phpunit.result.cache
/minishop/Homestead.*
/minishop/npm-debug.log
/minishop/yarn-error.log
/php/*.ini
docker-compose.yml
Dockerfile
